In [73]:
from trackml.dataset import load_event
from trackml.dataset import load_dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import random


%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

from trackml.dataset import load_event, load_dataset
from trackml.score import score_event

from tqdm import tqdm
from multiprocessing import Pool
from sklearn.neighbors import KDTree

In [74]:
	def extend(submission,hits):

		df = submission.merge(hits,  on=['hit_id'], how='left')
		df = df.assign(d = np.sqrt( df.x**2 + df.y**2 + df.z**2 ))
		df = df.assign(r = np.sqrt( df.x**2 + df.y**2))
		df = df.assign(arctan2 = np.arctan2(df.z, df.r))

		for angle in range(-180,180,1):

		    #print ('\r %f'%angle, end='',flush=True)
		    #df1 = df.loc[(df.arctan2>(angle-0.5)/180*np.pi) & (df.arctan2<(angle+0.5)/180*np.pi)]
		    df1 = df.loc[(df.arctan2>(angle-1.0)/180*np.pi) & (df.arctan2<(angle+1.0)/180*np.pi)]

		    min_num_neighbours = len(df1)
		    if min_num_neighbours<4: continue

		    hit_ids = df1.hit_id.values
		    x,y,z = df1.as_matrix(columns=['x', 'y', 'z']).T
		    r  = (x**2 + y**2)**0.5
		    r  = r/1000
		    a  = np.arctan2(y,x)
		    tree = KDTree(np.column_stack([a,r]), metric='euclidean')

		    track_ids = list(df1.track_id.unique())
		    num_track_ids = len(track_ids)
		    min_length=3

		    for i in range(num_track_ids):
		        p = track_ids[i]
		        if p==0: continue

		        idx = np.where(df1.track_id==p)[0]
		        if len(idx)<min_length: continue

		        if angle>0:
		            idx = idx[np.argsort( z[idx])]
		        else:
		            idx = idx[np.argsort(-z[idx])]


		        ## start and end points  ##
		        idx0,idx1 = idx[0],idx[-1]
		        a0 = a[idx0]
		        a1 = a[idx1]
		        r0 = r[idx0]
		        r1 = r[idx1]

		        da0 = a[idx[1]] - a[idx[0]]  #direction
		        dr0 = r[idx[1]] - r[idx[0]]
		        direction0 = np.arctan2(dr0,da0) 

		        da1 = a[idx[-1]] - a[idx[-2]]
		        dr1 = r[idx[-1]] - r[idx[-2]]
		        direction1 = np.arctan2(dr1,da1) 

	 
		        ## extend start point
		        ns = tree.query([[a0,r0]], k=min(20,min_num_neighbours), return_distance=False)
		        ns = np.concatenate(ns)
		        direction = np.arctan2(r0-r[ns],a0-a[ns])
		        ns = ns[(r0-r[ns]>0.01) &(np.fabs(direction-direction0)<0.04)]
	   
		        for n in ns:
		            df.loc[ df.hit_id==hit_ids[n],'track_id' ] = p 

		        ## extend end point
		        ns = tree.query([[a1,r1]], k=min(20,min_num_neighbours), return_distance=False)
		        ns = np.concatenate(ns)

		        direction = np.arctan2(r[ns]-r1,a[ns]-a1)
		        ns = ns[(r[ns]-r1>0.01) &(np.fabs(direction-direction1)<0.04)] 
		        
		        for n in ns:
		            df.loc[ df.hit_id==hit_ids[n],'track_id' ] = p
		#print ('\r')
		df = df[['event_id', 'hit_id', 'track_id']]
		return df

In [75]:
def create_one_event_submission(event_id, hits, labels):
    sub_data = np.column_stack(([event_id]*len(hits), hits, labels))
    submission = pd.DataFrame(data=sub_data, columns=["event_id", "hit_id", "track_id"]).astype(int)
    return submission

In [76]:
def merge(cl1, cl2, min_cnt): # merge cluster 2 to cluster 1
    d = pd.DataFrame(data={'s1':cl1,'s2':cl2})
    d['N1'] = d.groupby('s1')['s1'].transform('count')
    d['N2'] = d.groupby('s2')['s2'].transform('count')
    maxs1 = d['s1'].max()
    cond = np.where((d['N2'].values>d['N1'].values) & (d['N2'].values<20) &  (d['N2'].values>min_cnt))
    #cond = np.where((d['N2'].values>d['N1'].values) & (d['N2'].values<20) )

    s1 = d['s1'].values 
    s1[cond] = d['s2'].values[cond]+maxs1 
    return s1

In [77]:
from threading import Lock
global lock
lock = Lock()

In [78]:
def deeper(i):
    #print(i)
    np.random.seed(i)
    #result = p
    #lock.acquire()
    np.random.shuffle(result)
    #lock.release()
    labels = range(result.shape[1])

    for k in [0]:
        for i in range(len(result[:])):
            labels = merge(labels, result[i], k)

        #submission = create_one_event_submission(0, hits['hit_id'].values, labels)
        #print(score_event(truth, submission))
    return labels

In [14]:
for event_id, hits, cells in load_dataset('../storage/track_ml_data/test.zip', parts=['hits', 'cells'] ):
    break

In [15]:
event_id

0

In [46]:
int(os.listdir('../storage/track_ml_data/test')[0].split('event')[1].split('-')[0])

95

In [85]:
#X = pd.DataFrame()
#for event_id, hits, cells in tqdm(load_dataset('../storage/track_ml_data/test.zip', parts=['hits', 'cells'] )):
def foo(f_name):
    #f_name = files[0]
    hits = pd.read_csv('~/storage/track_ml_data/test/'+f_name)
    #print()
    event_id = int(f_name.split('event')[1].split('-')[0])
    result = np.load('predicts/new/event_{}.npy'.format(event_id))

    second = []
    for k in range(10):
        np.random.seed(k)
        #result = p
        #lock.acquire()
        np.random.shuffle(result)
        #lock.release()
        labels = range(result.shape[1])

        for i in range(len(result[:])):
            labels = merge(labels, result[i], 0)
        
        
        
        second += [labels]
#     pool = Pool(processes=8)
#     second = []
#     for i in pool.imap(deeper, range(8)):
#         second += [i]
#     pool.close()
    second = np.array(second)




    result = np.array(second)
    labels = range(result.shape[1])

    for k in [0]:
        for i in range(len(result[:])):
            labels = merge(labels, result[i], k)

        submission = create_one_event_submission(event_id, hits['hit_id'].values, labels)
        a, inv, c = np.unique(submission['track_id'].values, return_inverse=True, return_counts=True)
        submission['track_id'] = inv.astype('int32')
        
        submission = extend(submission,hits)
        submission = extend(submission,hits)
        submission = extend(submission,hits)

        #print(score_event(truth, submission))
    return submission
    #X = pd.concat([X, submission], axis=0)

In [83]:
files[0]

'event000000095-hits.csv'

In [82]:
files = []
for i in os.listdir('../storage/track_ml_data/test'):
    if 'hits' in i:
        files += [i]

In [84]:
len(files)

125

In [86]:
X = pd.DataFrame()

pool = Pool(processes=8)
for i in tqdm(pool.imap(foo, files)):
    X = pd.concat([X, i], axis=0)
pool.close()

125it [30:09, 14.47s/it]

In [87]:
X.sort_values(['event_id', 'hit_id'], inplace=True)

In [88]:
X

        event_id  hit_id  track_id
0              0       1     10826
1              0       2      5334
2              0       3      3172
3              0       4         0
4              0       5      3448
5              0       6      3685
6              0       7         1
7              0       8      3449
8              0       9      4472
9              0      10      4026
10             0      11      4473
11             0      12      4564
12             0      13      4727
13             0      14         2
14             0      15      4325
15             0      16      4027
16             0      17      4028
17             0      18      3738
18             0      19      3739
19             0      20      3740
20             0      21      9903
21             0      22     26933
22             0      23     13233
23             0      24      4491
24             0      25      5787
25             0      26         3
26             0      27      3951
27             0      28      6124
28             0      29      4852
29             0      30      7100
...          ...     ...       ...
108087       124  108088      6033
108088       124  108089     17400
108089       124  108090     18574
108090       124  108091     12517
108091       124  108092     14202
108092       124  108093     16740
108093       124  108094      3062
108094       124  108095     27600
108095       124  108096     11110
108096       124  108097     24450
108097       124  108098     19518
108098       124  108099     16740
108099       124  108100     16740
108100       124  108101     13088
108101       124  108102     16137
108102       124  108103     27791
108103       124  108104     18031
108104       124  108105      8723
108105       124  108106      3063
108106       124  108107     27864
108107       124  108108      8723
108108       124  108109     16133
108109       124  108110     12721
108110       124  108111     27592
108111       124  108112     27864
108112       124  108113     10623
108113       124  108114      8723
108114       124  108115     11764
108115       124  108116     27864
108116       124  108117     22006

[13741466 rows x 3 columns]

In [89]:
X.to_csv('submit.csv', index=False)

In [90]:
!kaggle competitions submit trackml-particle-identification -f submit.csv -m "new"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Successfully submitted to TrackML Particle Tracking Challenge

In [29]:
X.shape

(13741466, 3)

In [26]:
X

        event_id  hit_id     track_id
0              0       1    828741073
1              0       2  19342604214
2              0       3       357047
3              0       4     45484543
4              0       5      3072771
5              0       6       438082
6              0       7            6
7              0       8      1631974
8              0       9      2733601
9              0      10       438086
10             0      11      9327699
11             0      12       357056
12             0      13     29783393
13             0      14           13
14             0      15      9327703
15             0      16       438092
16             0      17      1371989
17             0      18       619770
18             0      19      1371991
19             0      20      1371992
20             0      21    244863002
21             0      22      2082940
22             0      23  19537501528
23             0      24   1073815070
24             0      25     64706606
25             0      26      1461398
26             0      27     10599471
27             0      28     60068235
28             0      29      6591735
29             0      30    121718130
...          ...     ...          ...
108087       124  108088   1768011824
108088       124  108089    206922880
108089       124  108090   2016957017
108090       124  108091  16399484241
108091       124  108092   5299920388
108092       124  108093     61540149
108093       124  108094    215246778
108094       124  108095    378641658
108095       124  108096  17648432347
108096       124  108097   2015961680
108097       124  108098   7318805627
108098       124  108099     61540149
108099       124  108100  17158240629
108100       124  108101  18677763343
108101       124  108102  14892225554
108102       124  108103       108102
108103       124  108104  20187319790
108104       124  108105      1940631
108105       124  108106   2523479830
108106       124  108107  19938437341
108107       124  108108      1940631
108108       124  108109   1995924177
108109       124  108110    204926016
108110       124  108111   1514271718
108111       124  108112   2520047442
108112       124  108113   2502076413
108113       124  108114      1940631
108114       124  108115   2520047442
108115       124  108116  19938437341
108116       124  108117       108116

[13741466 rows x 3 columns]